* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-left: 20px; /* Added left padding */
}

.header {
    background-color: #00496d;
    color: white;
    padding: 20px 0;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #ffcc00;
}

.about,
.work-experience,
.projects,
.resume,
.contact {
    background-color: #f9f9f9;
    padding: 40px;
}

.about h2 {
    margin-bottom: 40px; 
}


.bio {
    display: flex;
    align-items: center;
}

.bio-image {
    flex: 1;
    margin-right: 40px;
}

.bio-image > img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.job,
.project {
    background-color: #f9f9f9;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.job:hover,
.project:hover {
    transform: scale(1.05);
}

.job img,
.project img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.job-header,
.project-header {
    padding: 20px;
}

.job-description,
.project-description {
    padding: 20px;
}

.job button,
.project button {
    background-color: #00496d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.job button:hover,
.project button:hover {
    background-color: #002233;
    transform: scale(1.05);
}

.resume iframe {
    width: 100%;
    height: 90vh;
    border: none;
}

.contacts h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.inquiry-form {
    max-width: 500px;
    margin: 0 auto;
}

.inquiry-form label {
    display: block;
    margin-bottom: 5px;
}

.inquiry-form input,
.inquiry-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.inquiry-form button {
    background-color: #00496d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.inquiry-form button:hover {
    background-color: #002233;
    transform: scale(1.05);
}

footer {
    background-color: #00496d;
    color: white;
    text-align: center;
    padding: 20px 0;
}
